# Ignore Python compiled files
__pycache__/
*.py[cod]
*.so
*.pyo

# Ignore virtual environment
venv/
.env/

# Ignore logs and database files
*.log
instance/
*.sqlite3

# Ignore IDE/editor config files
.vscode/
.idea/
*.swp
*.swo

# Ignore OS-specific files
.DS_Store
Thumbs.db
